<style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }
    </style>
<table>
    <tr>
      <th>FristName</th>
      <th>LastName</th>
      <th>EmailId</th>
      <th>password</th>
    </tr>
    <tr>
      <td>Nejat</td>
      <td>Awali</td>
      <td>N.awali@gmail.com</td>
      <td>456</td>
    </tr>
    <tr>
      <td>Divid</td>
      <td>laso</td>
      <td>Divid32@gmail.com</td>
      <td>007</td>
    </tr>
    <tr>
      <td>Anbir</td>
      <td>Hassen</td>
      <td>anbir89@gmail.com</td>
      <td>905</td>
    </tr>
  </table>
  