<app-add-employee></app-add-employee>
<app-delete-employee></app-delete-employee>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Employee Id</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees">
                      
            <td>{{ employee._id }}</td>
            <td>{{ employee.FirstName }}</td>
            <td>{{ employee.LastName }}</td>
            <td>{{ employee.EmailID }}</td>
            <td><button class="btn btn-danger" ><span
                class="glyphicon glyphicon-trash"></span>&nbsp; Remove</button></td>
          </tr>
    </tbody>
  </table>