<!DOCTYPE html>
<html lang="en">
<head onload=load_user_cart()>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Cart</title>
</head>
<body >
    <h2 style="color: blue">Check out Items</h2>

<div class= "container">
<table id="AddedItems" border="1">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Product Quantity</th>
            <th>Product Discount</th>
            <th>Delete Product</th>
         </tr>

    </thead> 
 <tbody>

    
</tbody>


</table>

<router-outlet></router-outlet>
</div>
