<div>

        <h1>Fuckk</h1>
</div>





<!--div class="d-grid gap-2 col-4 ">
    <h1>Sign Up</h1>
    <hr>
   
    <form #EmpRef="ngForm" (ngSubmit)="StoreEmployeeDetails(EmpRef.value)" >
        
      
    <label >Employee ID</label>
    <input type="number" name="EmployeeID" id="EmployeeID" ngModel>

    <label >First Name</label>
    <input type="text" name="FirstName" id="FirstName" ngModel>

    <label >Last Name</label>
    <input type="text" name="LastName" id="LastName" ngModel>

    <label >Email</label>
    <input type="email" name="EmailID" id="EmailID" ngModel>

    <label >Password</label>
    <input type="password" name="Password" id="Password" ngModel><br/>

    <input class="btn btn-success btn-lg" type="submit" value ="Register" />
   
</form-->

