<div>
    <h2>Edit Profile</h2>
    <form #profileRef="ngForm" (ngSubmit)="editProfile(profileRef.value)">
        <label>User ID: </label>
        <input type="text" name="id" ngModel required><br>
        <label>Current Password: </label>
        <input type="password" name="pass" ngModel required><br>
        <label>New Password: </label>
        <input type="password" name="newPass" ngModel required><br>
        <label>First Name: </label>
        <input type="text" name="newFname" ngModel required><br>
        <label>Last Name: </label>
        <input type="text" name="newLname" ngModel required><br>
        <label>E-mail: </label>
        <input type="text" name="newEmail" ngModel required><br>
        <label>Phone Number: </label>
        <input type="number" name="newPhone" ngModel required><br>
        <label>Date of Birth: </label>
        <input type="text" name="newDob" ngModel required><br>
        <label>Address: </label>
        <input type="text" name="newAdd" ngModel required><br>
        <input type="submit" value="Update Profile" [disabled]="!profileRef.valid" class="btn btn-primary">
        <input type="reset" value="Reset" class="btn btn-danger">
    </form>
    {{updateMsg}}
</div>