<div>
    <h2>Edit Profile</h2>
    <form #profileRef="ngForm" (ngSubmit)="editProfile(profileRef.value)">
        <label>User ID</label>
        <input type="text" name="id" ngModel><br>
        <label>Current Password</label>
        <input type="password" name="pass" ngModel><br>
        <label>New Password</label>
        <input type="password" name="newPass" ngModel><br>
        <!-- <label>New First Name</label>
        <input type="text" name="newFname" ngModel><br>
        <label>New Last Name</label>
        <input type="text" name="newLname" ngModel><br>
        <label>New E-mail</label>
        <input type="email" name="newEmail" ngModel><br>
        <input type="submit" value="Update Profile"> -->
    </form>
    {{updateMsg}}
</div>