
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Raise a ticket here!</h2>
    <form #TicketRef="ngForm" (ngSubmit)="addTicket(TicketRef.value)">
        <label>User Id</label>
        <input type="text" name="user_id" ngModel><br/>
        <label>Message</label>
        <input type="text" name="ticket_message" ngModel><br/>
        <input type="submit" value="submit"/>
    </form>
</body>
</html>